.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/* styles from flat-ui-free2.0.0-fix.less files */
body {
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 48px /* 64px */;
}
h2,
.h2 {
  font-size: 41px /* 52px */;
}
h3,
.h3 {
  font-size: 32px /* 40px */;
}
h4,
.h4 {
  font-size: 23px /* 29px */;
}
h5,
.h5 {
  font-size: 21px /* 28px */;
}
h6,
.h6 {
  font-size: 19px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */
  line-height: 1.722169;
  /* 31px */
}
.lead {
  font-size: 28px;
  /* 28px */
  line-height: 1.4642745;
  /* 41px */
  font-weight: 300;
  margin-bottom: 20px;
}
small {
  font-size: 84%;
  /* 15px */
  line-height: 2.050846;
  /* 31px */
}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #1abc9c;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #15967d;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: #ffffff;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
li {
  line-height: 20px;
}
.btn {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 22px;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
.btn.btn-large {
  font-size: 17px;
  padding: 12px 18px;
}
.btn > [class^="fui-"] {
  margin-left: 4px;
  margin-right: 4px;
  line-height: inherit;
  display: inline-block;
  vertical-align: top;
}
.input-group-btn .btn {
  background: #bdc3c7;
  line-height: 9px 12px 10px;
  line-height: 22px;
  border: 0;
  margin: 0;
  color: #fff;
  margin-left: 0 !important;
  padding-left: 10px;
  padding-right: 12px;
}
.input-group-btn .btn:hover {
  background: #cacfd2;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
}
.form-group {
  margin-bottom: 10px;
}
label {
  line-height: 20px;
}
.carousel {
  line-height: 1;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
.page-wrapper {
  position: relative;
  z-index: 2;
  background: #fff;
  overflow: hidden;
  min-height: 100%;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loaded .page-wrapper,
.loaded .header-antiflicker,
.loaded body > header .header-background {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
.loaded.nav-visible .page-wrapper,
.loaded.nav-visible .navbar.navbar-fixed-top,
.loaded.nav-visible .header-antiflicker,
.loaded.nav-visible body > header .header-background {
  -webkit-transform: translate3d(-230px, 0, 0);
  -moz-transform: translate3d(-230px, 0, 0);
  -o-transform: translate3d(-230px, 0, 0);
  transform: translate3d(-230px, 0, 0);
}
.loaded.no-csstransitions .page-wrapper,
.loaded.no-csstransitions .header-antiflicker {
  left: 0;
}
.loaded.no-csstransitions.nav-visible .page-wrapper,
.loaded.no-csstransitions.nav-visible .navbar.navbar-fixed-top,
.loaded.no-csstransitions.nav-visible .header-antiflicker {
  left: -230px !important;
  right: auto;
}
.carousel-indicators {
  width: 100%;
}
[class^="fui-"] {
  display: inline-block;
  vertical-align: middle;
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 5px;
    padding-left: 5px;
  }
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
#bgVideo {
  overflow: hidden;
}
#bgVideo > video {
  position: absolute !important;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 20;
  filter: alpha(opacity=2000);
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.navbar {
  left: 0;
  right: 0;
}
.navbar .brand {
  padding: 23px 28px 24px 0;
  float: left;
}
.navbar .subnav {
  display: none;
}
.navbar a {
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
.navbar .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.navbar .nav > li {
  float: left;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background: none;
}
.navbar .navbar-toggle {
  margin: 26px 0 10px;
  color: white;
  background: none;
  padding: 0;
  width: 30px;
  height: 30px;
  background: url("../../startup/common-files/icons/menu-icon@2x.png") 50% no-repeat;
  -webkit-background-size: 17px 12px;
  -moz-background-size: 17px 12px;
  -o-background-size: 17px 12px;
  background-size: 17px 12px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar .navbar-toggle:before {
  display: none;
}
.navbar .navbar-form .btn {
  height: auto;
  line-height: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar .nav > li > a > [class*="fui-"] {
  font-size: 24px;
  margin: -10px 0 0;
  position: relative;
  top: 4px;
}
.navbar.navbar-fixed-top {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 1170px;
  margin: 0 auto;
}
.loaded .navbar.navbar-fixed-top {
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-header {
    float: none;
  }
}
.header-19 .navbar-collapse.collapse,
.header-16 .navbar-collapse.collapse {
  display: none !important;
}
@media (max-width: 991px) {
  body .navbar-collapse {
    width: 230px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100% !important;
    z-index: 1;
  }
}
@media (min-width: 992px) {
  body > .collapse.navbar-collapse {
    display: none !important;
  }
}
body .navbar-collapse#header-19,
body .navbar-collapse#header-16 {
  width: 230px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100% !important;
  z-index: 1;
}
body > .navbar-collapse {
  padding: 25px 0;
  overflow: auto;
  background: #222527;
  min-height: 100%;
}
body > .navbar-collapse::-webkit-scrollbar {
  display: none;
}
body > .navbar-collapse .pull-right,
body > .navbar-collapse .pull-left {
  float: none !important;
}
body > .navbar-collapse .nav {
  margin: 0 0 10px;
}
body > .navbar-collapse .nav > li {
  margin: 0;
}
body > .navbar-collapse .nav > li > a {
  display: block;
  padding: 12px 35px;
  border-bottom: 2px solid #24292d;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #5b5e61;
  text-transform: uppercase;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus,
body > .navbar-collapse .nav > li > a.active {
  color: #ffffff;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus {
  background: none;
}
body > .navbar-collapse .nav > li.active > a {
  color: #ffffff;
}
body > .navbar-collapse .nav > li.active > a:hover,
body > .navbar-collapse .nav > li.active > a:focus,
body > .navbar-collapse .nav > li.active > a.active {
  color: #ffffff;
}
body > .navbar-collapse .subnav {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
body > .navbar-collapse .subnav li > a {
  display: block;
  margin: 0;
  padding: 7px 35px;
  font-size: 13px;
  font-weight: normal;
  color: #5b5e61;
  text-transform: capitalize;
}
body > .navbar-collapse .subnav li > a:hover,
body > .navbar-collapse .subnav li > a:focus,
body > .navbar-collapse .subnav li > a.active {
  color: #ffffff;
}
body > .navbar-collapse .navbar-form,
body > .navbar-collapse .navbar-search {
  padding: 10px 35px;
  margin: 0;
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
}
body > .navbar-collapse .navbar-form:focus,
body > .navbar-collapse .navbar-search:focus {
  outline: 0 none;
}
body > .navbar-collapse .navbar-form .btn,
body > .navbar-collapse .navbar-search .btn,
body > .navbar-collapse .navbar-form .btn-primary,
body > .navbar-collapse .navbar-search .btn-primary {
  height: 30px;
  line-height: 20px;
  font-size: 15px;
  color: #5b5e61;
  background: none;
  padding: 0;
}
body > .navbar-collapse .navbar-form .btn:hover,
body > .navbar-collapse .navbar-search .btn:hover,
body > .navbar-collapse .navbar-form .btn-primary:hover,
body > .navbar-collapse .navbar-search .btn-primary:hover {
  color: #fff;
}
/**
 * Header 6 stylesheet  
 * */
.header-6 {
  z-index: 100;
  padding-top: 0;
  padding-bottom: 0;
}
.header-6 .navbar {
  position: absolute;
  z-index: 2;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  top: -50px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.header-6 .navbar.navbar-fixed-top {
  position: fixed;
  margin-top: 28px;
}
.loaded .header-6 .navbar {
  top: 90px;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 768px) {
  .loaded .header-6 .navbar {
    top: 65px;
  }
}
.header-6 .navbar .brand {
  position: absolute;
  top: 0;
  left: 15px;
  padding: 0 !important;
  font-size: 25px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 800;
}
.header-6 .navbar .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
.header-6 .navbar .social-btns {
  white-space: nowrap;
  position: absolute;
  top: 7px;
  right: 15px;
  z-index: 2;
}
@media (max-width: 768px) {
  .header-6 .navbar .social-btns {
    right: 60px;
  }
}
@media (max-width: 480px) {
  .header-6 .navbar .social-btns {
    right: 45px;
  }
}
.header-6 .navbar .social-btns > * {
  display: inline-block;
  margin-left: 15px;
  font-size: 16px;
  font-weight: normal;
  color: #cccccc;
  width: 16px;
  height: 19px;
  overflow: hidden;
  text-align: center;
}
.header-6 .navbar .social-btns > *:first-child {
  margin-left: 0;
}
.header-6 .navbar .social-btns > * > * {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.header-6 .navbar .social-btns > * > *:first-child {
  color: white;
}
.header-6 .navbar .social-btns > *:hover > * {
  top: -100%;
}
@media (min-width: 992px) {
  .header-6 .navbar .nav {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: visible;
    text-align: center;
  }
  .header-6 .navbar .nav > li {
    float: none;
    display: inline-block;
    padding: 0 10px;
  }
}
.header-6 .navbar .nav > li > a {
  padding: 12px 0 0;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  font-weight: 800;
  letter-spacing: 1px;
  color: #ffffff;
  display: inline-block;
}
.header-6 .navbar .nav > li > a:hover,
.header-6 .navbar .nav > li > a:focus,
.header-6 .navbar .nav > li > a.active {
  color: #cccccc;
}
.header-6 .navbar .nav > li.active > a {
  color: #cccccc;
}
.header-6 .navbar .nav > li.active > a:hover,
.header-6 .navbar .nav > li.active > a:focus,
.header-6 .navbar .nav > li.active > a.active {
  color: #cccccc;
}
.header-6 .navbar .navbar-toggle {
  float: none;
  margin: 4px auto 0;
  display: block;
}
@media (max-width: 768px) {
  .header-6 .navbar .navbar-toggle {
    float: right;
  }
}
@media (min-width: 992px) {
  .header-6 .navbar .navbar-toggle {
    display: none;
  }
}
.header-6-sub {
  position: relative;
  z-index: 50;
  left: 0;
  width: 100%;
  padding-top: 280px;
  padding-bottom: 90px;
  background-color: #192735;
  overflow: hidden;
  color: #bdc3c7;
  text-align: center;
}
@media (max-width: 768px) {
  .header-6-sub {
    padding-top: 150px;
    padding-bottom: 50px;
  }
}
.header-6-sub h3 {
  font-size: 35px;
  font-weight: normal;
  color: #ffffff;
  margin-bottom: 26px;
  font-weight: 300;
}
.header-6-sub .row {
  position: relative;
  z-index: 51;
}
.header-6-sub .lead {
  font-size: 24px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-6-sub .container > .row:first-child {
  opacity: 0;
  filter: alpha(opacity=0);
}
.loaded .header-6-sub .container > .row:first-child {
  -webkit-transition: 1.2s opacity;
  -moz-transition: 1.2s opacity;
  -o-transition: 1.2s opacity;
  transition: 1.2s opacity;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.header-6-sub .container > .row + .row {
  position: relative;
  bottom: -180px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.loaded .header-6-sub .container > .row + .row {
  -webkit-transition: .4s 1.2s bottom, 1.2s 1.2s opacity;
  -moz-transition: .4s 1.2s bottom, 1.2s 1.2s opacity;
  -o-transition: .4s 1.2s bottom, 1.2s 1.2s opacity;
  transition: .4s 1.2s bottom, 1.2s 1.2s opacity;
  bottom: 0;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
  .header-6-sub {
    background-attachment: scroll;
    background-position: 50% 50%!important;
  }
  .header-6-sub .container > .row:first-child,
  .header-6-sub .container > .row + .row {
    -webkit-transition-duration: 0 !important;
    -moz-transition-duration: 0 !important;
    -o-transition-duration: 0 !important;
    transition-duration: 0 !important;
    -webkit-transition-delay: 0 !important;
    -moz-transition-delay: 0 !important;
    -o-transition-delay: 0 !important;
    transition-delay: 0 !important;
  }
}
.header-6-sub .player {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  width: 220px;
  height: 150px;
  margin: 20px auto 180px;
  border: 4px solid #fff;
}
.header-6-sub .player .btn-play {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 46px;
  height: 46px;
  margin: -23px 0 0 -23px;
  padding-left: 14px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid #fff;
}
.header-6-sub .player > iframe {
  width: 212px;
  height: 142px;
  border: 0;
  display: block;
}
.header-6-sub .background {
  /*background-image: url("../../startup/common-files/img/NY_001.jpg");*/
  background-image: url("../../static/images/adobe_header.jpg");
  opacity: 50;
  filter: alpha(opacity=5000);
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.header-6-sub .signup-form form {
  margin: 0 auto;
  padding: 17px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: white;
}
.header-6-sub .signup-form form .form-control,
.header-6-sub .signup-form form button {
  float: left;
  width: 23.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 0 2%;
  font-size: 17px;
  font-weight: 500;
}
@media (max-width: 480px) {
  .header-6-sub .signup-form form .form-control,
  .header-6-sub .signup-form form button {
    width: 100%;
    margin: 10px 0 0;
    display: block;
    float: none;
  }
}
.header-6-sub .signup-form form .form-control:first-child,
.header-6-sub .signup-form form button:first-child {
  margin: 0;
}
.header-6-sub .signup-form form .form-control {
  border-color: #dee1e3;
  font-weight: 500;
  color: #34495e;
}
.header-6-sub .signup-form form .form-control:-moz-placeholder {
  color: #34495e;
}
.header-6-sub .signup-form form .form-control::-moz-placeholder {
  color: #34495e;
  opacity: 1;
}
.header-6-sub .signup-form form .form-control:-ms-input-placeholder {
  color: #34495e;
}
.header-6-sub .signup-form form .form-control::-webkit-input-placeholder {
  color: #34495e;
}
.header-6-sub .signup-form form .form-control.placeholder {
  color: #34495e;
}
.header-6-sub .signup-form form .form-control:focus {
  border-color: #1abc9c;
}
.header-6-sub .signup-form form button {
  width: 23.5%;
  margin-left: 2%;
}
@media (max-width: 480px) {
  .header-6-sub .signup-form form button {
    width: 100%;
    margin: 10px 0 0;
    display: block;
    float: none;
  }
}
.header-antiflicker {
  opacity: 0;
  filter: alpha(opacity=0);
}
/**
 * Content 5 stylesheet  
 * */
.content-5 {
  padding-top: 130px;
  padding-bottom: 120px;
  position: relative;
}
.content-5 .container > img {
  display: block;
  margin: 0 auto 50px;
}
.content-5 h3 {
  margin: 0 0 21px;
  font-size: 35px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
@media (max-width: 767px) {
  .content-5 h3 {
    margin-bottom: 15px;
  }
}
.content-5 h3 + .lead {
  font-size: 25px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;
}
@media (max-width: 767px) {
  .content-5 h3 + .lead {
    line-height: 1.25;
  }
}
@media (max-width: 480px) {
  .content-5 {
    padding-bottom: 40px;
  }
}
.content-5 .features > [class*="col-sm-"] {
  position: relative;
  margin-top: 40px;
}
.content-5 .features > [class*="col-sm-"] > [class*="fui-"] {
  position: absolute;
  left: -45px;
  top: 7px;
  font-size: 25px;
  font-weight: normal;
  color: #2c3e50;
}
@media (max-width: 767px) {
  .content-5 .features > [class*="col-sm-"] > [class*="fui-"] {
    position: static;
    float: left;
    margin: -7px 20px 0 0;
  }
}
.content-5 .features > [class*="col-sm-"] p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
.content-5 .features > [class*="col-sm-"] h6 {
  font-size: 22px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin-bottom: 14px;
  text-transform: none;
}
.projects-* .pt-perspective {
  position: relative;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}
.projects-* .pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.projects-* .pt-page-current,
.projects-* .no-js .pt-page {
  visibility: visible;
  z-index: 1;
}
.projects-* .pt-page-ontop {
  z-index: 999;
}
.projects-* .v-center {
  display: table;
  width: 100%;
}
.projects-* .v-center > * {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  float: none;
}
@media (max-width: 767px) {
  .projects-* .v-center.row {
    display: block;
    width: auto;
  }
  .projects-* .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
/**
 * Project 1 stylesheet  
 * */
.projects-1 {
  padding-top: 110px;
  padding-bottom: 110px;
}
.projects-1 .title {
  margin: 0 0 50px;
  line-height: 1.5;
}
.projects-1 .title a {
  color: #bdc3c7;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 25px;
}
.projects-1 .title a:hover,
.projects-1 .title a:focus,
.projects-1 .title a.active {
  color: #1abc9c;
}
.projects-1 .head-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 55px 60px 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  color: #95a5a6;
  min-height: 330px;
  position: relative;
}
.projects-1 .head-box:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #ebedee url('../../startup/common-files/img/header/ipad@2x.png') 100% 50% no-repeat;
  -webkit-background-size: 826px 772px;
  -moz-background-size: 826px 772px;
  -o-background-size: 826px 772px;
  background-size: 826px 772px;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
@media (max-width: 700px) {
  .projects-1 .head-box:before {
    opacity: 20;
    filter: alpha(opacity=2000);
    opacity: 0.2;
    filter: alpha(opacity=20);
  }
}
.projects-1 .head-box > * {
  max-width: 270px;
  position: relative;
}
.projects-1 .head-box .brand {
  margin-bottom: 17px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 23px;
  color: #34495e;
}
.projects-1 .head-box .brand > img {
  margin-right: 12px;
  vertical-align: top;
  margin-top: 4px;
}
.projects-1 .head-box p {
  font-size: 16px;
}
.projects-1 .head-box .features {
  border-top: 2px solid rgba(189, 195, 199, 0.3);
  margin-top: 25px;
  padding-top: 25px;
  font-size: 18px;
  font-weight: bold;
  color: #1abc9c;
}
.projects-1 .head-box .features > * + * {
  margin-top: 10px;
}
.projects-1 .head-box .features [class*="fui-"] {
  font-size: 23px;
  font-weight: normal;
  vertical-align: middle;
  margin-right: 20px;
}
.projects-1 .projects {
  display: table;
  width: 100%;
  margin-top: 65px;
}
.projects-1 .projects + .projects {
  margin-top: 80px;
}
.projects-1 .projects .project-wrapper {
  display: table-cell;
}
.projects-1 .projects .project-wrapper:first-child + .project-wrapper {
  text-align: center;
}
.projects-1 .projects .project-wrapper:first-child + .project-wrapper + .project-wrapper {
  text-align: right;
}
.projects-1 .projects .project {
  width: 270px;
  display: inline-block;
}
.projects-1 .projects .photo-wrapper {
  width: 270px;
  height: 220px;
  position: relative;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #ecf0f1;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.projects-1 .projects .photo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  background: 50% 50% no-repeat;
  opacity: 30;
  filter: alpha(opacity=3000);
  /*opacity: 0.3;*/
  filter: alpha(opacity=30);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.projects-1 .projects .overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  line-height: 220px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.projects-1 .projects .overlay [class*="fui-"] {
  font-size: 46px;
}
.projects-1 .projects .info {
  text-align: left;
  font-size: 14px;
  color: #95a5a6;
  margin-top: 39px;
  line-height: 1.4;
}
.projects-1 .projects .info b {
  color: #7f8c8d;
}
.projects-1 .projects .name {
  color: #1abc9c;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 14px;
}
.projects-1 .projects .project:hover .photo-wrapper {
  background-color: #1abc9c;
}
.projects-1 .projects .project:hover .photo {
  opacity: 40;
  filter: alpha(opacity=4000);
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.projects-1 .projects .project:hover .overlay {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 991px) and (min-width: 768px) {
  .projects-1 .projects .project,
  .projects-1 .projects .photo-wrapper {
    width: 230px;
  }
}
@media (max-width: 767px) {
  .projects-1 .projects {
    display: block;
    width: auto;
  }
  .projects-1 .projects .project-wrapper {
    display: block;
    text-align: center!important;
  }
  .projects-1 .projects .project-wrapper + .project-wrapper {
    margin-top: 80px;
  }
}
.ribbon {
  display: block;
  position: relative;
  margin: 0;
  padding: 0 10px!important;
  background: #e74c3c;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}
.ribbon:before,
.ribbon:after {
  display: block;
  position: absolute;
  line-height: 0;
}
.ribbon:before {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAgCAYAAADe+2JdAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAIcbAACL/wAA/RMAAIWJAACNJgAA5z0AADj/AAAeyY4zee8AAACLSURBVHja7M6xCcIAEAXQZwwpJI0W6V3AVgdwKrF3CWdwAhFcIjhDKiGCoDGxSVAxyQT5zcG94+5G+X4GS+zqOlEnxAKn72aTANs2aHCtIwGmfWjAAfsxhPIWeaSJVxaris98WN4i9/Nc9Rz/r32kSStA8Mri7oeqIsj7vj324QbXLrxghQN+TrwHABFIH/AzT59nAAAAAElFTkSuQmCC');
  left: -7px;
  bottom: 0;
}
.ribbon:after {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAIcbAACL/wAA/RMAAIWJAACNJgAA5z0AADj/AAAeyY4zee8AAACMSURBVHja7MwxDoJAFIThf9fVAo2x4A5cwprKytPY2HoJS6/hCbwBoaKi0WxYoyYg+ywICQK9jdPNl/dG5Zu1AA44Azsg1TRZAlvgAkQttlkBhz4CxGO4GEP++Cs0yc2ilWI+NYRBwGyim0svwr2syApHWdff716E6/M13HxUbztAL3I0nW6BE7D/DADKLyXavmqdkAAAAABJRU5ErkJggg==');
  right: -5px;
  top: 0;
}
/**
 * Price 2 stylesheet  
 * */
.price-2 {
  padding-top: 110px;
  padding-bottom: 110px;
}
.price-2 .plans {
  display: table;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 3px solid #e5e5e5;
  border-top: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.price-2 .plans .plan {
  display: table-cell;
  width: 33.33%;
  text-align: center;
}
.price-2 .plans .plan .ribbon {
  position: absolute;
  right: -1px;
  top: 47px;
  z-index: 2;
}
@media (max-width: 991px) {
  .price-2 .plans .plan .ribbon {
    top: 20px;
  }
}
@media (max-width: 767px) {
  .price-2 .plans .plan .ribbon {
    top: 50px;
  }
}
.price-2 .plans .title {
  padding: 55px 0 55px;
  background: #34495e;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  white-space: nowrap;
  position: relative;
}
.price-2 .plans .title .price {
  margin: 10px 0 13px;
  font-size: 100px;
  font-weight: 500;
}
.price-2 .plans .title .price .currency {
  font-size: 24px;
  vertical-align: top;
  position: relative;
  font-weight: 400;
  top: 26px;
  left: -10px;
  opacity: 50;
  filter: alpha(opacity=5000);
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.price-2 .plans .title .price .period {
  font-size: 12px;
  vertical-align: bottom;
  position: relative;
  top: -27px;
  left: 10px;
  opacity: 50;
  filter: alpha(opacity=5000);
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.price-2 .plans .title .btn.btn-clear {
  padding: 6px 12px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 13px;
  background: transparent;
  opacity: 50;
  filter: alpha(opacity=5000);
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-weight: 500;
}
.price-2 .plans .title .btn.btn-clear:hover,
.price-2 .plans .title .btn.btn-clear:focus {
  border-color: #fff;
  color: #fff;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.price-2 .plans .title .btn.btn-clear:active,
.price-2 .plans .title .btn.btn-clear.active {
  border-color: #fff;
  color: #fff;
  opacity: 30;
  filter: alpha(opacity=3000);
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.price-2 .plans .plan:first-child .title {
  margin-left: -3px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
}
.price-2 .plans .plan:last-child .title {
  margin-right: -3px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
}
.price-2 .plans .description {
  padding: 27px 40px;
  font-size: 18px;
  color: #bdc3c7;
}
.price-2 .plans .description b {
  color: #7f8c8d;
  font-weight: 500;
}
.price-2 .plans .description .description-box {
  text-align: left;
  padding: 13px 0;
  border-top: 2px solid #ebedee;
}
.price-2 .plans .description .description-box:first-child {
  border-top: 0;
}
.price-2 .plans .description .description-box [class*="fui-"] {
  margin-right: 18px;
  font-size: 24px;
  vertical-align: middle;
  color: rgba(52, 73, 94, 0.2);
}
.price-2 .plans .plan-2 {
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}
.price-2 .plans .plan-2 .title {
  margin: 0 -2px;
  border-left: 2px solid #2f4254;
  border-right: 2px solid #2f4254;
  z-index: 3;
}
@media (max-width: 767px) {
  .price-2 .plans {
    display: block;
    width: auto;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .price-2 .plans .plan {
    display: block;
    width: auto;
    border: 0!important;
    margin-top: 50px;
  }
  .price-2 .plans .plan:first-child {
    margin-top: 0;
  }
  .price-2 .plans .title {
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    margin: 0!important;
  }
  .price-2 .plans .description {
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
    border: 3px solid #e5e5e5;
    border-top: 0;
  }
  .price-2 .plans .plan-2 .ribbon {
    right: 0;
  }
}
/**
 * Copntact 2 stylesheet  
 * */
.contacts-2 {
  padding-top: 110px;
  padding-bottom: 110px;
}
.contacts-2 h3 {
  font-size: 30px;
  margin: 0 0 40px;
  font-weight: 300px;
}
@media (max-width: 480px) {
  .contacts-2 h3 {
    font-size: 26px;
    margin: 0 0 30px;
  }
}
.contacts-2 h6,
.contacts-2 .h6 {
  margin: 0 0 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: none;
}
.contacts-2 label.h6 {
  margin-bottom: 12px;
}
.contacts-2 p {
  font-size: 16px;
  line-height: 1.6;
}
.contacts-2 a {
  color: #1abc9c;
}
.contacts-2 a:hover,
.contacts-2 a:focus,
.contacts-2 a.active {
  color: #15967d;
}
.contacts-2 form {
  margin: 0;
  padding: 46px;
  border: 2px solid #ebedee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.contacts-2 form input,
.contacts-2 form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 29px;
  border-color: #ebedee;
  color: #7f8c8d;
}
.contacts-2 form input:focus,
.contacts-2 form textarea:focus {
  border-color: #1abc9c;
}
.contacts-2 form textarea {
  height: 120px;
}
.contacts-2 form input {
  height: 45px;
}
.contacts-2 form textarea {
  height: 120px;
}
.contacts-2 form label {
  margin-bottom: 18px;
}
.contacts-2 form .btn {
  margin-top: 7px;
  min-width: 150px;
}
.contacts-2 form .btn [class*="fui-"] {
  font-size: 24px;
}
.contacts-2 form .btn.btn-primary:hover,
.contacts-2 form .btn.btn-primary:focus {
  background-color: #e74c3c;
}
.contacts-2 form .btn.btn-primary:active,
.contacts-2 form .btn.btn-primary.active {
  background-color: #c44133;
}
.contacts-2 .map {
  height: 165px;
  margin: 25px 0 60px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
}
.contacts-2 .links {
  margin-top: 20px;
}
.contacts-2 .links a {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}
.contacts-2 .links [class*="fui-"] {
  font-size: 26px;
  vertical-align: middle;
  margin: -3px 23px 0 0;
}
@media (max-width: 767px) {
  .contacts-2 > .container > .row > * + * {
    margin-top: 55px;
  }
}
@media (max-width: 480px) {
  .contacts-2 form {
    margin-bottom: 80px;
    padding: 15px;
  }
  .contacts-2 form label {
    margin-bottom: 0px;
  }
}
/**
 * Footer 1 stylesheet  
 * */
.footer-1 {
  padding-top: 85px;
  padding-bottom: 85px;
  font-size: 14px;
  color: #bdc3c7;
}
.footer-1 .lead {
  margin-bottom: 15px;
  margin-top: -10px;
  font-size: 22px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: -1px;
}
.footer-1 .lead b {
  font-weight: 500;
}
.footer-1 .social-btns {
  white-space: nowrap;
  margin-top: 15px;
  margin-bottom: 15px;
}
.footer-1 .social-btns > * {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  font-size: 20px;
  font-weight: normal;
  color: #979c9f;
  width: 20px;
  height: 25px;
  overflow: hidden;
  text-align: center;
}
.footer-1 .social-btns > *:first-child {
  margin-left: 0;
}
.footer-1 .social-btns > * > * {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.footer-1 .social-btns > * > *:first-child {
  color: #bdc3c7;
}
.footer-1 .social-btns > *:hover > * {
  top: -100%;
}
.footer-1 .btn.btn-danger {
  background-color: #c0392b;
}
.footer-1 .btn.btn-danger:hover,
.footer-1 .btn.btn-danger:focus {
  background-color: #cd6155;
}
.footer-1 .btn.btn-danger:active,
.footer-1 .btn.btn-danger.active {
  background-color: #a33025;
}
.footer-1 a {
  color: #bdc3c7;
  font-weight: normal;
}
.footer-1 a:hover,
.footer-1 a:focus,
.footer-1 a.active {
  color: #979c9f;
}
.footer-1 nav h6 {
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  line-height: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
}
.footer-1 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #bdc3c7;
}
.footer-1 nav ul li {
  margin-bottom: 5px;
}
.footer-1 .buy-btn {
  text-align: center;
}
.footer-1 .buy-btn a.btn {
  font-size: 15px;
  font-weight: normal;
  color: #ffffff;
}
.footer-1 .buy-btn .btn {
  margin-bottom: 17px;
}
.footer-1 .additional-links {
  border-top: 1px solid #374859;
  padding-top: 17px;
  font-size: 14px;
  font-weight: normal;
  color: #95a5a6;
}
@media (max-width: 767px) {
  .footer-1 .additional-links {
    margin-top: 17px;
    margin-bottom: 0;
  }
}
.footer-1 .additional-links a {
  margin-right: 10px;
  color: #95a5a6;
}
.footer-1 .additional-links a:hover,
.footer-1 .additional-links a:focus,
.footer-1 .additional-links a.active {
  color: #778485;
}
@media (max-width: 767px) {
  .footer-1 .col-sm-6 {
    margin-bottom: 20px;
  }
  .footer-1 nav .col-sm-2,
  .footer-1 .buy-btn {
    float: left;
    width: 30%;
    margin-left: 5%;
  }
  .footer-1 nav .col-sm-2:first-child {
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .footer-1 {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .footer-1 .buy-btn {
    float: none;
    clear: both;
    width: auto;
    padding-top: 15px;
    margin: 0;
  }
  .footer-1 .buy-btn .btn {
    margin: 0 0 10px;
  }
  .footer-1 nav .col-sm-2 {
    width: 47%;
    margin-left: 6%;
  }
}
.footer-1 .fb_iframe_widget {
  vertical-align: top;
}
